$colorTextBlack: black;




@font-face {
    font-family: "Lato"; /* Имя шрифта */
    src: url(fonts/Lato/Lato-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "PlayfairDisplay"; /* Имя шрифта */
    src: url(fonts/playfair/PlayfairDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
}

*{
    margin: 0;
    padding: 0;
    
}

.header{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 800px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 768px){
        overflow: hidden;
        width: 750px;

    }
    
    &__background{
        margin-top: -510px;
        opacity: .2;
        @media screen and (max-width: 768px){
         margin-left: -270px;
         margin-top: -460px;
         width: 1350px;
        }
    }
 
    &__content{
        width: 1200px;
        height: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -1667px;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 768px){
            width: 768px;
            margin-left: -1px;
        }
        &-mobmenu{
            margin-top: -600px;
            width: 100px;
            @media screen and (max-width: 768px){
                margin-top: 50px;
                position: relative;
                z-index: 2;
                &-link{
                    margin-left: 20px;
                    display: inline;
                    & svg{
                        width: 60px;
                        margin: 0;
                        &:hover{
                           cursor: pointer;
                        }
                    }
                }
            }
        }
        &-menu{
           
            &-ul{
                margin-top: 30px;
                margin-left: 5px;
                &-link{
                    text-decoration: none;
                    position: relative;
                    z-index: 5;
                    
                    &:hover{
                        padding-bottom: 3px;
                        border-bottom: 1px solid black;
                        cursor: pointer;
                        transition: .7s cubic-bezier(0.18, 0.89, 0.32, 1.08);
                    }
                    &-li{
                        list-style: none;
                        display: inline;
                        margin-left: 10px;
                        margin-right: 10px;  
                        font-family: "Lato";
                        font-size: 20px;
                        font-weight: bold;
                        color: $colorTextBlack;
                    }
                }
            }
        }
        &-link{
           width: 100px;
            margin-left: 560px;
             &-logo{
                width: 80px;
                margin-top: 455px;
                @media screen and (max-width: 768px){
                    width: 80px;
                    margin-top: -130px;
                    margin-left: 335px;
                }
            }
            @media screen and (max-width: 768px){
                left: -560px;
                position: absolute;
                z-index: 3;
                top: 150px;
            }
        }
       

        &-network{
            margin-top: -50px;
            margin-left: 1040px;
            @media screen and (max-width: 768px){
                position: absolute;
                left: -370px;
                display: grid;
                margin-top: -90px;
            }
            &-link{
                &-icon{
                    margin-left: 10px;
                    margin-right: 10px;
                    width: 20px;
                    @media screen and (max-width: 768px){
                        margin-top: 15px;
                        margin-bottom: 15px;
                        width: 30px;

                    }
                    &:hover{
                        cursor: pointer;
                        
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }

            }
        }
        &-h1{
            width: 100%;
            font-size: 120px;
            font-family: "PlayfairDisplay";
            font-weight: bold;
            text-align: center;
            margin-top: 180px;
            color: $colorTextBlack;
            @media screen and (max-width: 768px){
                font-size: 120px;
                margin-top: 220px;
                text-align: center;
            }
        }
        &-h3{
            font-size: 28px;
            font-family: "Lato";
            color: rgb( 108, 106, 104 );
            text-align: center;
            margin-top: 20px;
            color: $colorTextBlack;
        }
        &-button{
            font-size: 18px;
            font-family: "Lato";
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 220px;
            height: 52px;
            border: 2px solid $colorTextBlack;
            margin-left: 490px;
            margin-top: 170px;
            @media screen and (max-width: 768px){
                margin-left: 280px;
            }
            &:hover{
                box-shadow: 0 0 10px gray;
                cursor: pointer;
                outline: none;
            }
            
        }
    } 
}

  
  
