
$fontsMenu: "Poiret_One";
$fonts-h1: "Poiret_One";
$fonts-h2: "Poiret_One";
$fontsButton: "Poiret_One";
$fontsText: "Poiret_One";
$fontsNumber: "Poiret_One";

$colorTextH2: black;
$colorTextH1: black;
$colorTextBlack: black;
$colorBlackBorder: black;
$colorTextH3: black;
// $colorTextH3: rgb( 108, 106, 104 );
$colorBoxShadow: rgba(189, 191, 192, 0.4);
@font-face {
    font-family: "Montserrat"; /* Имя шрифта */
    src: url(fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Poiret_One"; /* Имя шрифта */
    src: url(fonts/Poiret_One-h1/PoiretOne-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Viaoda_Libre"; /* Имя шрифта */
    src: url(fonts/Viaoda_Libre/ViaodaLibre-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Lato"; /* Имя шрифта */
    src: url(fonts/Lato/Lato-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "PlayfairDisplay"; /* Имя шрифта */
    src: url(fonts/playfair/PlayfairDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
}

*{
    margin: 0;
    padding: 0;
}

.header{
    // height: 750px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (min-width: 320px) and (max-width: 374px){
        width: 100%; 
    }
    @media (min-width: 375px) and (max-width: 543px) {
        width: 100%;
    }
    @media (min-width: 544px) and (max-width: 567px){
        width: 100%;
        height: 380px;
    }
    @media (min-width: 568px) and (max-width: 639px){
        width: 100%;
        height: 310px;
    }
    @media (min-width: 640px) and (max-width: 730px) { 
        width: 100%;
        height: 390px;
    }
    @media (min-width: 731px) and (max-width: 767px) { 
        width: 100%;
        height: 390px;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        width: 100%;
    }
    
    &__backgroundImg{
        width: 100%;
        opacity: .5;
        @media (min-width: 320px) and (max-width: 374px){
            width: 1440px;
            margin-left: -690px;
        }
        @media (min-width: 375px) and (max-width: 413px) {
            width: 1440px;
            margin-left: -670px;
        }
        @media (min-width: 411px) and (max-width: 413px) {
            width: 1440px;
            margin-left: -640px;
        }
        @media (min-width: 414px) and (max-width: 542px) {
            width: 1440px;
            margin-left: -650px;
        }
        @media (min-width: 1024px) and (max-width: 1199px) {
            width: 100%;
        }   
            
    }
    
    &__galegy-row{
        width: 80%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 40;
        vertical-align: baseline;
    }
    &__container{
        top: 1px;
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 150px;
        @media (min-width: 320px) and (max-width: 374px){
            left: 1px;
        }
        @media (min-width: 375px) and (max-width: 639px) {
            top: 5px;
            left: 0px;
        }
        @media (min-width: 640px) and (max-width: 666px) { 
            left: 50px;
        }
        @media (min-width: 667px) and (max-width: 730px) { 
           left: 70px;
        }
        @media (min-width: 731px) and (max-width: 735px) { 
            left: 100px;
        }
        @media (min-width: 736px) and (max-width: 767px) {
            left: 100px;
        }
        @media (min-width: 768px) and (max-width: 811px) {
            left: 30px;
        }
        @media (min-width: 812px) and (max-width: 1023px) {
            left: 50px;
        }
        @media (min-width: 1024px) and (max-width: 1199px){
            left: 4%;
        }
        @media (min-width: 1200px){
            left: 140px;
        }
        &-mobMenu{
            @media (max-width: 543px) {
                margin-top: 20px;
            }
            @media (min-width: 568px) and (max-width: 639px){
                margin-top: 30px;
            }
            @media (min-width: 640px) and (max-width: 670px){
                margin-top: 25px;
            }
            @media (min-width: 731px) and (max-width: 734px){
                margin-top: 25px;
            }
            &-block {
                & button::after{
                    display: none;
                }
                & button.btn:focus{
                    box-shadow: 0 0 0 0.2rem $colorBoxShadow;
                }
                & button{
                    display: none;
                    @media (min-width: 736px) and (max-width: 767px) {
                        top: 20px;
                    }
                    @media (min-width: 768px) and (max-width: 1023px){
                        display: inline;
                        margin-top: -40px;
                        margin-left: 15px;
                    }
                    @media (min-width: 641px) and (max-width: 767px) {
                        display: inline;
                        margin-top: -60px;
                        margin-left: 20px;
                    }
                    @media (max-width: 640px) {
                        display: inline;
                        margin-top: -60px;
                        margin-left: 35px;
                        display: grid;
                        border: none;
                        cursor: pointer;
                        margin-left: 15px;
                        & img{
                            margin-left: -17.2px;
                            margin-top: -10px;
                        }
                    }
                }
                & .dropdown-menu{
                    background-color: rgba(223, 217, 217, .6);
                }
                &-dropdown{
                    display: inline;
                    & a:hover{
                        font-weight: bold;
                    }
                }
                &-button{
                    width: 40px;
                    height: 40px;
                    background: none;
                    outline: none;
                    margin-top: 10px;
                    &:hover{
                        box-shadow: 0 0 0 0.2rem $colorBoxShadow;
                    }
                    & img{
                        margin-left: -18px;
                        margin-top: -12px;
                    }
                }
            }
        }
        &-internet{
            @media (max-width: 543px) {
                float: right;
                margin-top: 3px;
            }
            @media (min-width: 736px) and (max-width: 767px) {
                float: right;
                margin-top: -45px;
            }
            @media (min-width: 544px) and (max-width: 735px){
                float: right;
                margin-top: -65px;
            }
            @media (min-width: 768px) and (max-width: 1024px){
                float: right;
                margin-top: -50px;
            }
            &-block{
                & button::after{
                    display: none;
                }
                & button.btn:focus{
                    box-shadow: 0 0 0 0.2rem $colorBoxShadow;
                }
                & button{
                    display: none;
                    @media (max-width: 543px) {
                        margin-top: -80px;
                        display: inline;
                        display: grid;
                        border: none;
                        cursor: pointer;
                    }
                    @media (min-width: 544px) and (max-width: 823px){
                        display: inline;
                    }
                    @media (min-width: 736px) and (max-width: 767px) {
                       
                    }
                }
                
                & .dropdown-menu{
                    & a{
                        margin-left: 10px;
                        @media (min-width: 375px) and (max-width: 513px){
                            margin-left: 10px; 
                        }
                        @media (min-width: 568px) and (max-width: 639px){
                            margin-left: 5px; 
                        }
                        @media (min-width: 640px) and (max-width: 666px){
                            margin-left: -40px; 
                        }
                        @media (min-width: 667px) and (max-width: 730px){
                            margin-left: -55px; 
                        }
                        @media (min-width: 731px) and (max-width: 735px){
                            margin-left: -80px; 
                        }
                        @media (min-width: 736px) and (max-width: 767px){
                            margin-left: -80px; 
                        }
                        @media (min-width: 768px) and (max-width: 811px){
                            margin-left: -20px; 
                        }
                        @media (min-width: 812px) and (max-width: 822px){
                            margin-left: -40px; 
                        }
                        @media (min-width: 823px) and (max-width: 999px){
                            margin-left: -40px; 
                        }
                    }
                    @media (max-width: 1440px) {
                        background: none;
                    }
                    @media (min-width: 544px) and (max-width: 767px){
                        display: none;
                    }
                }
            }
        }
        & .dropdown-menu{
            border: none;
            & .dropdown-item{
                margin-top: 5px;
                &:hover{
                    background: none;
                    
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }
        }
        
        &-row{
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 543px) {
                width: 100%
            }
            @media (min-width: 544px) and (max-width: 767px){
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 1024px){
                width: 100%;
            }
            &-nav{
                padding-top: 20px;
                margin-left: -30px;
                &-item{
                    @media (max-width: 823px){
                        display: none;
                    }
                    @media (min-width: 1024px) and (max-width: 1199px){
                        margin-left: 20px;
                    }
                    & .dropdown-menu{
                        font-family: $fontsMenu;
                        font-weight: bold;
                        font-size: 18px;
                        color: $colorTextBlack;
                        background: none;
                        & a{
                            &:hover{
                                font-weight: bold;
                                color: $colorTextBlack;
                                padding-bottom: 1px;
                                cursor: pointer;
                                transition: .7s cubic-bezier(0.18, 0.89, 0.32, 1.08);
                                transition: 0.5s;
                                transform: scale(1.1);
                            }
                        }    
                    }
                    &-link{
                        font-family: $fontsMenu;
                        font-size: 18px;
                        font-weight: bold;
                        color: $colorTextBlack;
                        &:hover{
                            color: $colorTextBlack;
                            padding-bottom: 1px;
                            border-bottom: 1px solid $colorBlackBorder;
                            cursor: pointer;
                            transition: .7s cubic-bezier(0.18, 0.89, 0.32, 1.08);
                            transition: 0.3s;
                            transform: scale(1.1);
                        }
                    }
                }
            }
            
            &-logo {
                margin-top: 25px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                &:hover{
                    transition: 0.3s;
                    transform: scale(1.1);
                }
                @media (max-width: 330px) { 
                margin-left:  10vw;
                }
                @media (min-width: 375px) and (max-width: 542px){
                    margin-left: 10vw;
                }
                @media (min-width: 736px) and (max-width: 765px) {
                    margin-top: 30px;
                    margin-left: 40px;
                }
                @media (min-width: 544px) and (max-width: 730px){
                    margin-top: -5px;
                    margin-left: 20px;
                }
                @media (min-width: 731px) and (max-width: 734px){
                    margin-top: 20px;
                    margin-left: 35px;
                 }
                @media (min-width: 640px) and (max-width: 670px){
                    margin-top: 35px;
                    margin-left: 60px;
                }
                @media (min-width: 768px) and (max-width: 1024px){
                    margin-left: 25px;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    margin-left: 0px;
                }
                & img{
                    @media (min-width: 667px) and (max-width: 700px) {
                        margin-left: -20px;
                    }
                    @media (min-width: 360px) and (max-width: 367px) { 
                        margin-left: 50px;
                    }
                    @media (min-width: 1024px) and (max-width: 1199px){
                        display: none;
                    }
                }
               
            }
            &-networks{
                @media (max-width: 823px) { 
                    display: none;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    position: absolute;
                    right: -25px;
                }
                &-link{
                     & img{
                        margin-top: 30px;
                        margin-left: 10px;
                        &:hover{
                            transition: 0.3s;
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
        &-title{
            @media (max-width: 320px) {
                padding-left: 30px;
                margin-right: 0px;
            }
           
            @media (min-width: 414px) and (max-width: 543px){
                width: 100%; 
            }
            @media (min-width: 544px) and (max-width: 767px){
                margin-top: -170px;
                padding-left: 50px;
            }
            @media (min-width: 812px) and (max-width: 999px){
                width: 100%; 
                left: 17px;
                position: relative;
            }
            &-h1{
                text-align: center;
                font-size: 160px;
                font-family: $fonts-h1;
                font-weight: bold;
                margin-top: 200px;
                color: $colorTextH1;
                
                @media (min-width: 320px) and (max-width: 359px){
                    font-size: 60px;
                    margin-top: 170px;
                    margin-left: 8vw;
                    width: 100%;
                }
                @media (min-width: 360px) and (max-width: 374px){
                    font-size: 80px;
                    margin-top: 190px;
                    margin-left: 13vw;
                    width: 100%;
                }
                @media (min-width: 375px) and (max-width: 543px) {
                  font-size: 60px;
                  width: 100%;
                  margin-left: 50px;
                }
                @media (min-width: 544px) and (max-width: 567px){
                    font-size: 50px;
                }
                @media (min-width: 568px) and (max-width: 639px){
                    margin-top: 180px;
                    font-size: 60px;
                }
                @media (min-width: 640px) and (max-width: 730px) { 
                    font-size: 65px;
                    margin-top: 200px;
                }
                @media (min-width: 731px) and (max-width: 735px) { 
                    font-size: 75px;
                    margin-top: 240px;
                }
                @media (min-width: 736px) and (max-width: 767px) {
                   font-size: 75px;
                   margin-top: 240px;
                }
                @media (min-width: 768px) and (max-width: 811px){
                    font-size: 75px;
                    margin-top: 80px;
                    margin-left: 40px;
                    width: 100%;
                }
                @media (min-width: 812px) and (max-width: 1023px) {
                    font-size: 60px;
                    margin-top: 65px;
                    width: 100%;
                    
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    font-size: 120px;
                    margin-top: 130px;
                }
            }
        }
        &-text{
            &-h3{
                font-size: 28px;
                font-family: $fontsText;
                color: $colorTextH3;
                margin-top: 20px;
                font-weight: bold;
                @media (max-width: 543px) { 
                    text-align: center;
                    font-size: 19px;
                }
            }
        }
        &-button{
            & .btn:focus{
                box-shadow: none;
            }
            & .btn:hover{
                transition: 0.3s;
                transform: scale(1.2);
            }
            &-but{
                font-size: 18px;
                font-family: $fontsButton;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                width: 60px;
                height: 52px;
                background: none;
                margin-top: 100px;
                outline: none;
               & img{
                   width: 30px;
               }
                @media (max-width: 543px) { 
                    margin-left: auto;
                    margin-right: auto;
                    width: 220px;
                    margin-top: 10vw;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    margin-top: 2vw;
                }
                @media (min-width: 768px) and (max-width: 1024px){
                    margin-top: 30px;
                }
            }
        }
    }
}

.recentWork{
    display: none;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 100%;
    
    &__title{
            width: 700px;
            font-size: 45px;
            font-family: $fonts-h2;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            color: $colorTextH2;
            font-weight: bold;
            @media (min-width: 320px) and (max-width: 359px) {
                width: 200px;
                font-size: 30px;
                margin-top: 20px;
                text-align: center;
            }
            @media (min-width: 360px) and (max-width: 543px){
                width: 200px;
                font-size: 30px;
                margin-top: 20px;
                text-align: center;
            }
            @media (min-width: 544px) and (max-width: 767px){
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                width: 100%; 
            }
            @media (min-width: 1024px) and (max-width: 1199px){
                width: 100%;
                margin-top: 100px;
            }
            @media (min-width: 1200px) {
                margin-top: 70px;
            }
        }
    &__container{
        background: white;
        overflow: auto;
        height: 670px;
        @media (min-width: 640px) and (max-width: 670px){
            height: 350px;
        }
        @media  (max-width: 360px) {
            height: 300px;
        }
        @media (min-width: 375px) and (max-width: 543px){
            height: 330px; 
         }
        @media (min-width: 544px) and (max-width: 767px){
            height: 310px;
        }
        @media (min-width: 768px) and (max-width: 1024px){
            height: 400px;    
        }
       
        & .row{
            margin-left: auto;
            margin-right: auto;
            
        }
        &-row{
            
            padding-left: 10px;
            height: 650px;
            width: 100%;
            text-align: center;
            & img{
                height: 210px;
                margin: 1px;
                text-align: center;
                @media (min-width: 320px) and (max-width: 359px) {
                   width: 91px;
                   height: 91px;
                }
                @media  (min-width: 360px) and (max-width: 374px) {
                    width: 104.2px;
                    height: 104.2px; 
                }
                @media (min-width: 375px) and (max-width: 410px){
                    width: 109.5px;
                    height: 109.5px;
                }
                @media (min-width: 411px) and (max-width: 413px){
                    width: 121.3px;
                    height: 121.3px;
                }
                @media (min-width: 414px) and (max-width: 567px){
                    width: 122.3px;
                    height: 122.3px;
                }
                @media (min-width: 568px) and (max-width: 639px){
                    width: 129.5px;
                    height: 129.5px;
                }
                @media (min-width: 640px) and (max-width: 730px){
                   width: 122.5px;
                   height: 122.5px;
                }
                @media (min-width: 731px) and (max-width: 735px){
                    width: 122.3px;
                    height: 122.3px;
                 }
                @media (min-width: 736px) and (max-width: 767px) {
                    width: 123px;
                    height: 123px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 134px;
                    height: 134px;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    height: 151px;
                    width: 151px;
                }
                @media (min-width: 1200px){
                    height: 152.5px;
                    width: 152.5px;
                }
            }
        }
    }
}

.collection{
    display: none;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 320px) and (max-width: 374px){
        width: 100%;
        height: 500px;
    }
    @media (min-width: 375px) and (max-width: 567px){
        width: 100%;
        height: 500px;
    }
    @media (min-width: 568px) and (max-width: 666px){
        width: 100%;
        height: 750px;
    }
    @media (min-width: 667px) and (max-width: 735px){
        width: 100%;
        height: 750px;
    }
    @media (min-width: 736px) and (max-width: 767px){
        width: 100%;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        width: 100%;
        height: 950px;
    }
    @media (min-width: 1024px) and (max-width: 1199px){
        width: 100%;
        
    }
    &__container{
        @media (max-width: 543px) { 
            width: 90%;
            margin-top: 30px;
        }
        @media (min-width: 544px) and (max-width: 767px){
            width: 100%;
            top: 1px;
            margin-top: 10px;
            height: 650px;
        }
        margin-top: 120px;
        
        & .row{
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
        }
        &-row{
            position: relative;
            margin-top: 30px;
            height: 300px;
            @media (max-width: 543px) { 
                height: 70px;
            }
            @media (min-width: 544px) and (max-width: 767px){
                height: 120px;
            }
            @media (min-width: 768px) and (max-width: 1024px){
                height: 160px;      
            }
            @media (min-width: 1024px) and (max-width: 1199px){
                height: 200px;
            }
            &:hover{
                transition: 0.5s;
                transform: scale(1.04);
            }
            & img{
                height: 300px;
                width: 450px;
                position: absolute;
                left: 1px;
                @media (min-width: 320px) and (max-width: 374px){
                    height: 90px;
                    width: 140px;
                }
                @media (min-width: 375px) and (max-width: 413px) { 
                    height: 90px;
                    width: 140px;
                }
                @media (min-width: 414px) and (max-width: 543px) { 
                   height: 90px;
                   width: 140px;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    height: 120px;
                    width: 170px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    height: 160px;
                    width: 250px;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    height: 200px;
                    width: 300px;
                }
            }
            & h2{
                width: 680px;
                height: 80px;
                font-size: 45px;
                font-weight: bold;
                color: $colorTextH2;
                font-family: $fonts-h2;  
                position: absolute;  
                left: 520px; 
                @media (min-width: 320px) and (max-width: 374px){
                    font-size: 15px;
                    left: 140px;
                    width: 150px;
                    text-align: center;
                    height: 20px;
                }
                @media (min-width: 375px) and (max-width: 413px) { 
                    font-size: 15px;
                    left: 140px;
                    width: 180px;
                    text-align: center;
                    height: 20px;
                }
                @media (min-width: 414px) and (max-width: 567px) { 
                    font-size: 15px;
                    left: 140px;
                    top: -3px;
                    width: 180px;
                    text-align: center;
                    height: 20px;
                }  
                @media (min-width: 568px) and (max-width: 666px){
                    font-size: 25px;
                    left: 170px;
                    top: -3px;
                    width: 350px;
                    text-align: center;
                    height: 20px;
                }
                @media (min-width: 667px) and (max-width: 735px) { 
                    font-size: 25px;
                    left: 170px;
                    top: -3px;
                    width: 350px;
                    text-align: center;
                    height: 20px;
                }  
                @media (min-width: 736px) and (max-width: 767px) { 
                    font-size: 25px;
                    left: 170px;
                    width: 350px;
                    text-align: center;
                    height: 20px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    font-size: 28px;
                    width: 350px;
                    text-align: center;
                    left: 250px;
                    height: 25px;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    width: 350px;
                    left: 300px;
                    font-size: 30px;
                    text-align: center;
                }
            }
            & p{
                color: $colorTextBlack;
                font-family: $fontsText;
                font-size: 24px;
                width: 500px;
                height: 200px;
                position: absolute;
                right: 85px;
                top: 65px;
                @media (min-width: 320px) and (max-width: 374px){
                    font-size: 8px;
                    width: 150px;
                    left: 150px;
                    top: 19px;
                    height: 60px;
                }
                @media (min-width: 375px) and (max-width: 413px) { 
                    font-size: 8px;
                    width: 160px;
                    left: 150px;
                    top: 19px;
                    height: 60px;
                }
                @media (min-width: 414px) and (max-width: 567px) { 
                    font-size: 8px;
                    width: 160px;
                    left: 150px;
                    top: 19px;
                    height: 60px;
                }
                @media (min-width: 568px) and (max-width: 666px){
                    font-size: 14px;
                    width: 300px;
                    left: 185px;
                    top: 23px;
                    height: 100px;
                }
                @media (min-width: 667px) and (max-width: 735px) { 
                    font-size: 14px;
                    width: 300px;
                    left: 185px;
                    top: 23px;
                    height: 100px;
                }
                @media (min-width: 736px) and (max-width: 767px){
                    font-size: 14px;
                    width: 300px;
                    left: 185px;
                    top: 25px;
                    height: 100px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    font-size: 18px;
                    width: 350px;
                    top: 30px;
                    left: 270px;
                    height: 140px;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    left: 320px;
                    font-size: 20px;
                    width: 500px;
                    top: 50px;
                }
            }
        }
        &-revers{
            margin-top: 60px;
            margin-bottom: 60px;
            position: relative;
            height: 300px;
            @media (max-width: 543px) { 
                height: 70px;
            }
            @media (min-width: 544px) and (max-width: 767px){
                height: 120px;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                height: 160px;
            }
            @media (min-width: 1024px) and (max-width: 1199px){
                height: 200px;
            }
            &:hover{
                transition: 0.3s;
                transform: scale(1.04);
            }
            & img{
                width: 450;
                height: 300px;
                position: absolute;
                right: 1px;
                @media (min-width: 320px) and (max-width: 374px){
                    height: 90px;
                    width: 140px;
                }
                @media (min-width: 375px) and (max-width: 413px) { 
                    height: 90px;
                    width: 140px;
                }
                @media (min-width: 414px) and (max-width: 543px) { 
                    height: 90px;
                    width: 140px;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    height: 120px;
                    width: 170px;
                }
                
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 250px;
                    height: 160px;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    height: 200px;
                    width: 300px;
                }
            }
            & h2{
                width: 680px;
                height: 80px;
                font-size: 45px;
                font-weight: bold;
                position: absolute;
                color: $colorTextH2;
                font-family: $fonts-h2;
               
                @media (min-width: 320px) and (max-width: 359px){
                    width: 150px;
                    font-size: 15px;
                    height: 20px;
                }
                @media (min-width: 360px) and (max-width: 374px){
                    width: 180px;
                    font-size: 15px;
                    height: 20px;
                    left: 7px;
                }
                @media (min-width: 375px) and (max-width: 410px) { 
                    width: 180px;
                    font-size: 15px;
                    height: 20px;
                    left: 25px;
                }
                @media (min-width: 411px) and (max-width: 413px){
                    font-size: 15px;
                    left: 60px;
                    top: -3px;
                    width: 180px;
                    text-align: center;
                    height: 20px;
                }
                @media (min-width: 414px) and (max-width: 567px) { 
                    font-size: 15px;
                    left: 65px;
                    top: -3px;
                    width: 180px;
                    text-align: center;
                    height: 20px;
                }  
                @media (min-width: 568px) and (max-width: 639px){
                    font-size: 25px;
                    left: 20px;
                    top: -3px;
                    width: 350px;
                    text-align: center;
                    height: 20px;
                }
                @media (min-width: 640px) and (max-width: 666px) { 
                    font-size: 25px;
                    left: -15px;
                    top: -3px;
                    width: 350px;
                    text-align: center;
                    height: 20px;
                }
                @media (min-width: 667px) and (max-width: 735px) { 
                    font-size: 25px;
                    left: -10px;
                    top: -3px;
                    width: 350px;
                    text-align: center;
                    height: 20px;
                }  
                @media (min-width: 736px) and (max-width: 767px) { 
                    font-size: 25px;
                    left: -10px;
                    width: 350px;
                    text-align: center;
                    height: 25px;
                }
                @media (min-width: 768px) and (max-width: 1023px) { 
                    height: 25px;
                    width: 350px;
                    text-align: center;
                    left: 90px;
                    font-size: 28px;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    width: 350px;
                    left: 280px;
                    font-size: 30px;
                }

            }
            & p{
                color: $colorTextBlack;
                font-family: $fontsText;
                font-size: 24px;
                width: 500px;
                height: 200px;
                position: absolute;
                left: 85px;
                top: 65px;
                text-align: right;
                @media (min-width: 320px) and (max-width: 359px){
                    font-size: 8px;
                    width: 150px;
                    left: -10px;
                    top: 19px;
                    height: 60px;
                }
                @media (min-width: 360px) and (max-width: 374px){
                    font-size: 8px;
                    width: 160px;
                    left: 20px;
                    top: 19px;
                    height: 60px;
                }
                @media (min-width: 375px) and (max-width: 410px){
                    font-size: 8px;
                    width: 160px;
                    left: 35px;
                    top: 19px;
                    height: 60px;
                }
                @media (min-width: 411px) and (max-width: 413px){
                    font-size: 8px;
                    width: 160px;
                    left: 70px;
                    top: 19px;
                    height: 60px;
                }
                @media (min-width: 414px) and (max-width: 567px) { 
                    font-size: 8px;
                    width: 160px;
                    left: 75px;
                    top: 19px;
                    height: 60px;
                }
                @media (min-width: 568px) and (max-width: 639px){
                    font-size: 14px;
                    width: 300px;
                    left: 55px;
                    top: 23px;
                    height: 100px;
                }
                @media (min-width: 640px) and (max-width: 666px) { 
                    font-size: 14px;
                    width: 300px;
                    left: 27px;
                    top: 23px;
                    height: 100px;
                }
                @media (min-width: 667px) and (max-width: 735px) { 
                    font-size: 14px;
                    width: 300px;
                    left: 27px;
                    top: 23px;
                    height: 100px;
                }
                @media (min-width: 736px) and (max-width: 767px){
                    font-size: 14px;
                    width: 300px;
                    left: 27px;
                    top: 25px;
                    height: 100px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    font-size: 18px;
                    width: 350px;
                    left: 70px;
                    top: 30px;
                    height: 140px;
                }
                @media (min-width: 1024px) and (max-width: 1199px){
                    width: 500px;
                    top: 50px;
                    font-size: 20px;
                    left: 110px;
                }
            }
        }
    }
}

.footer{
    display: none;
    height: 775px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (min-width: 320px) and (max-width: 374px){
        width: 100%;  
    }
    @media (min-width: 375px) and (max-width: 541px){
        padding-top: 80px;
        width: 100%;
    }
    @media (min-width: 542px) and (max-width: 543px) { 
        width: 100%;
        height: 600px;
    }
    @media (min-width: 544px) and (max-width: 567px){
        width: 100%;
        height: 620px;
    }
    @media (min-width: 568px) and (max-width: 666px){
        width: 100%;
        height: 800px;
    }
    @media (min-width: 667px) and (max-width: 735px) { 
        width: 100%;
        height: 800px;
    }
    @media (min-width: 736px) and (max-width: 767px) {
        height: 900px;
        width: 100%;
    }
    @media (min-width: 768px) and (max-width: 1023px){
        width: 100%;
        height: 750px;
        padding-top: 40px;
    }
    @media (min-width: 1024px) and (max-width: 1199px){
        width: 100%;
        height: 750px;
        margin-top: 200px;
    }
    &__container{
        @media (max-width: 543px) {
            width: 543px;
        }
        & .form-control{
            margin-left: -15px;
            background: none;
            width: 380px;
            height: 55px;
            border: 1px solid $colorBlackBorder;
            @media (max-width: 543px) {
                margin-left: auto;
                margin-right: auto;
                width: 95%;
            }
            @media (max-width: 640px){
                margin-left: auto;
                margin-right: auto;
                width: 95%;
            }
            @media (min-width: 544px) and (max-width: 767px){
                margin-left: auto;
                margin-right: auto;
            }
            
            @media (min-width: 768px) and (max-width: 1024px){
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-title{
            width: 700px;
            font-size: 45px;
            font-family: $fonts-h2;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            color: $colorTextBlack;
            font-weight: bold;
            @media (min-width: 320px) and (max-width: 374px){
                width: 200px;
                font-size: 24px;
                margin-top: 170px;
            }
            @media (min-width: 360px) and (max-width: 543px){
                font-size: 30px;
                width: 200px;
                margin-top: 150px;
            }
            @media (min-width: 375px) and (max-width: 543px){
                width: 200px;
                font-size: 24px;
                margin-top: 70px;
            }
            @media (min-width: 544px) and (max-width: 567px){
                font-size: 30px;
                width: 220px;
                margin-top: 10px;
            }
            @media (min-width: 568px) and (max-width: 666px){
                font-size: 40px;
                margin-top: 160px;
                width: 100%;
            }
            @media (min-width: 667px) and (max-width: 735px) { 
                font-size: 40px;
                margin-top: 180px;
                width: 100%;
            }
            @media (min-width: 736px) and (max-width: 767px) {
                font-size: 40px;
                margin-top: 250px;
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                font-size: 40px;
                width: 100%;
                margin-top: 100px;
            }
            @media (min-width: 1024px) and (max-width: 1199px){
                font-size: 40px;
                width: 100%;
                margin-top: 130px;
            }

        }
        &-row{
            @media (max-width: 543px) {
                margin-left: 15px;
            }
            
            &-form{
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                width: 369px;
                height: 290px;
                &-group{
                    @media (max-width: 543px) {
                        width: 97%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    @media (max-width: 640px){
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    
                }
                &-button{
                    font-family: $fontsButton;
                    text-transform: uppercase;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    width: 220px;
                    height: 52px;
                    outline: none;
                    margin-top: 10px;
                    
                }
                .btn-outline-secondary{
                    &:hover{
                        background-color: rgb(163, 160, 160);
                    }
                }
            }
        }

        &-menuBotom{
            margin-top: 120px;
            &-networks{
               margin-left: auto;
               margin-right: auto; 
               @media (max-width: 543px) {
                   margin-top: -20px;
               }
            }
        }
    }
}

//фото галерея
.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}
.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.thumb {
    padding: 5px;
}
//

// contact window////////////////////////////////////////////
.contact-window{
    &__dialog{
        & .modal-content{
            background-color: rgba(255, 255, 255, 0.952);
            & .modal-header{
                & h2{
                   color: $colorTextH2;
                   font-size: 35px;
                   font-family: $fonts-h2;
                }
                & button{
                    outline: none;
                }
            }
            & .modal-body{
                & h5{
                    width: 60%;
                    position: relative;
                    left: 20px;
                    font-size: 20px;
                    font-family: $fontsNumber;
                    & a{
                        color: $colorTextBlack; 
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
///////////////////////////////////////////////////////////

//galery-window//////////////////////////////////////////////
.bd-example-modal-lg{
    
    & .modal-dialog{
        @media (min-width: 320px) and (max-width: 374px) {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        @media (min-width: 375px) and (max-width: 513px) {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        @media (min-width: 568px) and (max-width: 666px) {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        & .modal-content{
            & h2{
                font-size: 30px;
                color: $colorTextH2;
                font-family: $fonts-h2;
                text-align: left;
                padding-left: 20px;
                padding-top: 10px;
                & button{
                    position: relative;
                    top: 0px;
                    right: 10px;
                    outline: none;
                    &:hover{
                        transition: 0.3s;
                        transform: scale(1.04);
                    }
                }
            }
            & .row{
                margin-left: 1px;
                & img{
                    width: 200px;
                    height: 150px;
                    @media (min-width: 320px) and (max-width: 359px) {
                        width: 86px;
                        height: 86px;
                    }
                    @media (min-width: 360px) and (max-width: 374px) {
                        width: 97px;
                        height: 97px;
                    }
                    @media (min-width: 375px) and (max-width: 410px) {
                        width: 102px;
                        height: 102px;
                    }
                    @media (min-width: 411px) and (max-width: 413px) {
                        width: 112px;
                        height: 112px;
                    }
                    @media (min-width: 414px) and (max-width: 513px) {
                        width: 112px;
                        height: 112px;
                    }
                    @media (min-width: 568px) and (max-width: 639px) {
                        width: 117.5px;
                        height: 117.5px;
                    }
                    @media (min-width: 640px) and (max-width: 666px) {
                        width: 122px;
                        height: 122px;
                    }
                    @media (min-width: 667px) and (max-width: 735px) {
                        width: 121.5px;
                        height: 121.5px;
                    }
                    @media (min-width: 736px) and (max-width: 767px) {
                        width: 121.5px;
                        height: 121.5px;
                    }
                    @media (min-width: 768px) and (max-width: 999px) {
                        width: 162px;
                        height: 162px;
                    }
                    @media (min-width: 1024px) and (max-width: 1200px) {
                        width: 157px;
                        height: 157px;
                    }
                    @media (min-width: 1200px) {
                        width: 157px;
                        height: 157px;
                    }
                }
            }
        }
    }
}
////////////////////////////////////////////////////////////