
$fontsMenu: "Lato";
$fonts-h1: "Poiret_One";
$fonts-h2: "Poiret_One";
$fontsButton: "Poiret_One";
$fontsText: "Poiret_One";

$colorTextH2: black;
$colorTextH1: black;
$colorTextBlack: black;
$colorBlackBorder: black;
$colorTextH3: rgb( 108, 106, 104 );
$colorBoxShadow: rgba(189, 191, 192, 0.4);
@font-face {
    font-family: "Montserrat"; /* Имя шрифта */
    src: url(fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Poiret_One"; /* Имя шрифта */
    src: url(fonts/Poiret_One-h1/PoiretOne-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Viaoda_Libre"; /* Имя шрифта */
    src: url(fonts/Viaoda_Libre/ViaodaLibre-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Lato"; /* Имя шрифта */
    src: url(fonts/Lato/Lato-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "PlayfairDisplay"; /* Имя шрифта */
    src: url(fonts/playfair/PlayfairDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
}

*{
    margin: 0;
    padding: 0;
}

.header{
    height: 750px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (max-width: 543px) { 
        width: 100%;
        height: 650px;
    }
    @media (min-width: 544px) and (max-width: 767px){
        width: 100%;
        height: 380px;
    }
    &__backgroundImg{
            margin-top: -510px;
            opacity: .2;
            @media (min-width: 320px) and (max-width: 360px) {
                margin-left: -530px;
            }
            @media (min-width: 544px) and (max-width: 767px){
                margin-left: -400px;
            }
        }
    &__container{
        top: -1667px;
        position: relative;
        z-index: 2;
        &-mobMenu{
            @media (max-width: 543px) {
                margin-top: 20px;
            }
            @media (min-width: 568px) and (max-width: 639px){
                margin-top: 30px;
            }
            @media (min-width: 640px) and (max-width: 670px){
                margin-top: 25px;
            }
            &-block {
                & button::after{
                    display: none;
                }
                & button.btn:focus{
                    box-shadow: 0 0 0 0.2rem $colorBoxShadow;
                }
                & button{
                    display: none;
                    
                    @media (max-width: 640px) {
                        display: inline;
                        margin-top: -60px;
                        margin-left: 35px;
                        display: grid;
                        border: none;
                        cursor: pointer;
                        margin-left: 15px;
                        & img{
                            margin-left: -17.2px;
                            margin-top: -10px;
                        }
                    }
                }
                & .dropdown-menu{
                    background-color: rgba(223, 217, 217, .6);
                }
                &-dropdown{
                    display: inline;
                    & a:hover{
                        font-weight: bold;
                    }
                }
                &-button{
                    width: 40px;
                    height: 40px;
                    background: none;
                    outline: none;
                    margin-top: 10px;
                    &:hover{
                        box-shadow: 0 0 0 0.2rem $colorBoxShadow;
                    }
                    & img{
                        margin-left: -18px;
                        margin-top: -12px;
                    }
                }
            }
        }
        &-internet{
            @media (max-width: 543px) {
                float: right;
                margin-top: 3px;
            }
            @media (min-width: 544px) and (max-width: 767px){
                float: right;
                margin-top: -65px;
            }
            &-block{
                & button::after{
                    display: none;
                }
                & button.btn:focus{
                    box-shadow: 0 0 0 0.2rem $colorBoxShadow;
                }
                & button{
                    display: none;
                    @media (max-width: 543px) {
                        margin-top: -80px;
                        display: inline;
                        display: grid;
                        border: none;
                        cursor: pointer;
                    }
                    @media (min-width: 544px) and (max-width: 767px){
                        display: inline;
                    }
                }
                
                & .dropdown-menu{
                    @media (max-width: 1440px) {
                        background: none;
                    }
                    @media (min-width: 544px) and (max-width: 767px){
                        display: none;
                    }
                }
            }
        }
        & .dropdown-menu{
            border: none;
            & .dropdown-item{
                margin-top: 5px;
                &:hover{
                    background: none;
                    
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }
        }
        
        &-row{
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 543px) {
                width: 100%
            }
            @media (min-width: 544px) and (max-width: 767px){
                width: 100%;
            }
            &-nav{
                padding-top: 20px;
                margin-left: -30px;
                &-item{
                    @media (max-width: 767px){
                        display: none;
                    }

                    &-link{
                        font-family: $fontsMenu;
                        font-size: 18px;
                        font-weight: bold;
                        color: $colorTextBlack;
                        &:hover{
                            color: $colorTextBlack;
                            padding-bottom: 1px;
                            border-bottom: 1px solid $colorBlackBorder;
                            cursor: pointer;
                            transition: .7s cubic-bezier(0.18, 0.89, 0.32, 1.08);
                            transition: 0.3s;
                            transform: scale(1.1);
                        }
                    }
                }
            }
            
            &-logo {
                margin-top: 25px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                &:hover{
                    transition: 0.3s;
                    transform: scale(1.1);
                }
                @media (max-width: 330px) { 
                margin-left:  10vw;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    margin-top: -5px;
                    margin-left: 20px;
                }
                @media (min-width: 640px) and (max-width: 670px){
                    margin-top: 35px;
                    margin-left: 60px;
                }
                & img{
                     @media (min-width: 360px) and (max-width: 367px) { 
                        margin-left: 50px;
                    }
                }
               
            }
            &-networks{
                @media (max-width: 640px) { 
                    display: none;
                }
                &-link{
                     & img{
                        margin-top: 30px;
                        margin-left: 10px;
                        &:hover{
                            transition: 0.3s;
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
        &-title{
            @media (max-width: 543px) {
                width: 100%;
            }
            @media (min-width: 544px) and (max-width: 767px){
                margin-top: -170px;
                position: relative;
                left: 20px;
                
            }
            &-h1{
                text-align: center;
                font-size: 120px;
                font-family: $fonts-h1;
                font-weight: bold;
                margin-top: 200px;
                color: $colorTextH1;
                @media (max-width: 543px) {
                    font-size: 70px;
                    margin-top: 40px;
                    margin-left: 8vw;
                    width: 100%;
                } 
                @media (min-width: 544px) and (max-width: 767px){
                    font-size: 50px;
                    
                }
            }
        }
        &-text{
            &-h3{
                font-size: 28px;
                font-family: $fontsText;
                color: $colorTextH3;
                margin-top: 20px;
                font-weight: bold;
                @media (max-width: 543px) { 
                    text-align: center;
                    font-size: 19px;
                }
            }
        }
        &-button{
            & .btn:focus{
                box-shadow: none;
            }
            & .btn:hover{
                transition: 0.3s;
                transform: scale(1.2);
            }
            &-but{
                font-size: 18px;
                font-family: $fontsButton;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                width: 60px;
                height: 52px;
                background: none;
                margin-top: 100px;
                outline: none;
               & img{
                   width: 30px;
               }
                @media (max-width: 543px) { 
                    margin-left: auto;
                    margin-right: auto;
                    width: 220px;
                    margin-top: 10vw;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    margin-top: 2vw;
                }
            }
        }
    }
}

.recentWork{
    // display: none;
    height: 750px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    @media (max-width: 543px) { 
        width: 100%;
        height: 392px;
    }
    @media (min-width: 544px) and (max-width: 767px){
        width: 100%;
        height: 400px;
    }
    @media (min-width: 640px) and (max-width: 670px){
        height: 500px;
    }
    
    @media  (max-width: 360px) {
        height: 400px;
    }
    &__title{
            width: 700px;
            font-size: 52px;
            font-family: $fonts-h2;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            color: $colorTextH2;
            font-weight: bold;
            @media (max-width: 543px) { 
                width: 200px;
                font-size: 30px;
                margin-top: 20px;
                text-align: center;
            }
            @media (min-width: 544px) and (max-width: 767px){
                width: 100%;
            }
        }
    &__container{
        background: white;
        overflow: scroll;
        height: 670px;
        @media (min-width: 640px) and (max-width: 670px){
            height: 350px;
        }
        @media  (max-width: 360px) {
            height: 300px;
        }
        @media (min-width: 544px) and (max-width: 767px){
            height: 310px;
        }
       
        & .row{
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 320px) {
                margin-left: 5px;
            }
            @media  (min-width: 360px) and (max-width: 366px) {
                margin-left: 7px;
            }
        }
        &-row{
            
            padding-left: 10px;
            height: 650px;
            width: 100%;
            text-align: center;
            & img{
                height: 210px;
                margin: 1px;
                text-align: center;
                @media (max-width: 320px) {
                   width: 89px;
                   height: 89px;
                }
                @media  (min-width: 360px) {
                    width: 103.5px;
                    height: 103.5px; 
                }
                @media (min-width: 640px) and (max-width: 670px){
                   width: 122px;
                   height: 122px;
                }
            }
        }
    }
}
//фото галерея
.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}
.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.thumb {
    padding: 5px;
}
//
.collection{
    // display: none;
    width: 1440px;
    height: 1250px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 543px) { 
        width: 100%;
        height: 450px;
        overflow: scroll;
    }
    @media (min-width: 544px) and (max-width: 767px){
        width: 100%;
        height: 680px;
        overflow: scroll;
    }
    @media (min-width: 640px) and (max-width: 670px){
       height: 680px;
       overflow: scroll;
    }
    &__container{
        @media (max-width: 543px) { 
            width: 90%;
            margin-top: 30px;
        }
        @media (min-width: 544px) and (max-width: 767px){
            width: 100%;
            top: 1px;
            margin-top: 10px;
            height: 650px;
        }
        margin-top: 120px;
        & .row{
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
        }
        &-row{
            position: relative;
            margin-top: 30px;
            height: 300px;
            @media (max-width: 543px) { 
                height: 70px;
            }
            @media (min-width: 544px) and (max-width: 767px){
                height: 120px;
                
            }
            &:hover{
                transition: 0.5s;
                transform: scale(1.04);
            }
            & img{
                height: 300px;
                width: 450px;
                position: absolute;
                left: 1px;
                @media (max-width: 543px) { 
                   height: 70px;
                   width: 120px;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    height: 120px;
                    width: 170px;
                }
            }
            & h2{
                width: 680px;
                height: 80px;
                font-size: 60px;
                font-weight: bold;
                color: $colorTextH2;
                font-family: $fonts-h2;  
                position: absolute;  
                left: 520px; 
                @media (max-width: 543px) { 
                    font-size: 15px;
                    left: 120px;
                    top: -3px;
                    width: 180px;
                    text-align: center;
                    height: 20px;
                }    
                @media (min-width: 544px) and (max-width: 767px){
                    font-size: 24px;
                    width: 240px;
                    text-align: center;
                    height: 24px;
                    left: 180px;
                    margin-top: -5px;
                }
            }
            & p{
                color: $colorTextBlack;
                font-family: $fontsText;
                font-size: 24px;
                width: 500px;
                height: 200px;
                position: absolute;
                right: 85px;
                top: 95px;
                @media (max-width: 543px) { 
                    font-size: 8px;
                    width: 160px;
                    left: 130px;
                    top: 14px;
                    height: 60px;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    font-size: 14px;
                    width: 300px;
                    left: 130px;
                    top: 20px;
                    height: 100px;
                    margin-left: 52px;
                }
            }
        }
        &-revers{
            margin-top: 30px;
            position: relative;
            height: 300px;
            @media (max-width: 543px) { 
                height: 70px;
            }
            @media (min-width: 544px) and (max-width: 767px){
                height: 120px;
            }
            &:hover{
                transition: 0.3s;
                transform: scale(1.04);
            }
            & img{
                width: 450;
                height: 300px;
                position: absolute;
                right: 1px;
                @media (max-width: 543px) { 
                    height: 70px;
                    width: 120px;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    height: 120px;
                    width: 170px;
                }
            }
            & h2{
                width: 680px;
                height: 80px;
                font-size: 60px;
                font-weight: bold;
                position: absolute;
                color: $colorTextH2;
                font-family: $fonts-h2;
                @media (max-width: 543px) { 
                    font-size: 15px;
                    
                    top: -3px;
                    width: 170px;
                    text-align: center;
                    height: 20px;
                }   
                @media (min-width: 544px) and (max-width: 767px){
                    font-size: 24px;
                    left: 120px;
                    margin-top: -5px;
                    width: 240px;
                    text-align: center;
                    height: 20px;
                }
                @media (min-width: 360px) and (max-width: 367px) { 
                    left: 40px;
                }
                @media (min-width: 640px) and (max-width: 670px){
                    left: 100px;
                }
            }
            & p{
                color: $colorTextBlack;
                font-family: $fontsText;
                font-size: 24px;
                width: 500px;
                height: 200px;
                position: absolute;
                left: 85px;
                top: 95px;
                text-align: right;
                @media (max-width: 543px) { 
                    font-size: 8px;
                    width: 155px;
                    left: 5px;
                    top: 14px;
                    height: 60px;
                }
                @media (min-width: 544px) and (max-width: 767px){
                    font-size: 14px;
                    width: 300px;
                    left: 53px;
                    top: 20px;
                    height: 100px;
                }
                @media (min-width: 360px) and (max-width: 367px) { 
                    left: 45px;
                }
                @media (min-width: 640px) and (max-width: 670px){
                  left: 27px;
                }
            }
        }
    }
}

.footer{
    // display: none;
    height: 775px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (max-width: 543px) { 
        width: 100%;
        height: 600px;
    }
    @media (min-width: 544px) and (max-width: 767px){
        width: 100%;
        height: 620px;
    }
    &__container{
        @media (max-width: 543px) {
            width: 543px;
        }
        & .form-control{
            margin-left: -15px;
            background: none;
            width: 380px;
            height: 55px;
            border: 1px solid $colorBlackBorder;
            @media (max-width: 543px) {
                margin-left: auto;
                margin-right: auto;
                width: 95%;
            }
            @media (max-width: 640px){
                margin-left: auto;
                margin-right: auto;
                width: 95%;
            }
            @media (min-width: 544px) and (max-width: 767px){
                margin-left: 25px;
            }
        }
        &-title{
            width: 700px;
            font-size: 52px;
            font-family: $fonts-h2;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            color: $colorTextBlack;
            font-weight: bold;
            @media (max-width: 543px) { 
                width: 200px;
                font-size: 24px;
                margin-top: 20px;
            }
            @media (min-width: 544px) and (max-width: 767px){
                font-size: 30px;
                width: 220px;
            }
            @media (min-width: 544px) and (max-width: 767px){
                margin-top: 10px;
            }
        }
        &-row{
            @media (max-width: 543px) {
                margin-left: 15px;
            }
            @media (max-width: 640px){
                margin-left: -15px;
            }
            &-form{
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                width: 369px;
                height: 290px;
                &-group{
                    @media (max-width: 543px) {
                        width: 97%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    @media (max-width: 640px){
                        width: 97%
                    }
                    
                }
                &-button{
                    font-family: $fontsButton;
                    text-transform: uppercase;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    width: 220px;
                    height: 52px;
                    outline: none;
                    margin-top: 10px;
                }
            }
        }
        &-menuBotom{
            margin-top: 120px;
            &-networks{
               margin-left: auto;
               margin-right: auto; 
               @media (max-width: 543px) {
                   margin-top: -20px;
               }
            }
        }
    }
}

